# Iris Data Set - Quantum Neural Network

This notebook will showcase the usage of Tensorflow and Cirq to run binary classification with Quantum Computing. 
The data set used in this notebook is Iris Data Set.

## Requirements

The requirements for running this notebook are the following:

* Python 3.6 or later
* Cirq
* Tensorflow
* Tensorflow-Quantum
* Pandas



```
    pip install cirq
    pip install -q tensorflow==2.1.0
    pip install tensorflow-quantum
    pip install pandas
    pip install -U scikit-learn
```



## Iris Data Set 

For testing Tensorflow + Cirq we'll run a version of the [MNIST] experiment by Google. 
In this experiment, a similar approach than [Farhi et al] is executed over the MNIST data set. 

For our personal experiment we'll perform a classical classification problem: The [Iris Data Set].

This data set contains 4 features:
* Sepal length in cm
* Sepal width in cm
* Petal length in cm
* Petal width in cm

In order to simplify the problem, we'll transform this problem in a binary classification for Iris Setosa.



   [MNIST]: https://www.tensorflow.org/quantum/tutorials/mnist
   [Farhi et al]: https://arxiv.org/pdf/1802.06002.pdf
   [Iris Data Set]: https://archive.ics.uci.edu/ml/datasets/iris
   [Tensorflow]: https://www.tensorflow.org/

## Step 1. Ingestion of data set

In [24]:
# Libraries needed
import pandas as pd
from sklearn import preprocessing

In [31]:
# File with our data set
data='data/iris_data.csv'

# Headers for the iris_data provided in iris.names: 
# Sepal Length, Sepal Width, Petal Length, Petal Width, Type of Iris
headers=["sl","sw","pl","pw","iris"]

In [32]:
iris_data=pd.read_csv(data, names=headers)

In [33]:
iris_data.head()

    sl   sw   pl   pw         iris
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

## Step 2. Process the data 
Transform the data to a binary classification problem. 
To do this, We'll transform the class into Iris-Setosa and Non Iris-Setosa.

In [34]:
iris_data["iris_setosa"]=iris_data["iris"]=="Iris-setosa"

In [35]:
# Now we have a new column with the boolean depending if the flower is an Iris Setosa or not.
iris_data.head()

    sl   sw   pl   pw         iris  iris_setosa
0  5.1  3.5  1.4  0.2  Iris-setosa         True
1  4.9  3.0  1.4  0.2  Iris-setosa         True
2  4.7  3.2  1.3  0.2  Iris-setosa         True
3  4.6  3.1  1.5  0.2  Iris-setosa         True
4  5.0  3.6  1.4  0.2  Iris-setosa         True

In [36]:
# After the transformation of the data set, 33% of the population belongs to Iris Setosa, meanwhile 66% dont.
iris_data["iris_setosa"].value_counts()

False    100
True      50
Name: iris_setosa, dtype: int64

In [37]:
# The column iris is not needed anymore
iris_data.drop(columns=['iris'], inplace=True)

In [40]:
# The next step is to transform each value to a range of [0,1]

iris_values = iris_data.values
min_max_scaler = preprocessing.MinMaxScaler()
iris_values_scaled = min_max_scaler.fit_transform(iris_values)

iris_data_scaled = pd.DataFrame(iris_values_scaled, columns=["sl","sw","pl","pw","iris-setosa"])

In [41]:
iris_data_scaled.head()

         sl        sw        pl        pw  iris-setosa
0  0.222222  0.625000  0.067797  0.041667          1.0
1  0.166667  0.416667  0.067797  0.041667          1.0
2  0.111111  0.500000  0.050847  0.041667          1.0
3  0.083333  0.458333  0.084746  0.041667          1.0
4  0.194444  0.666667  0.067797  0.041667          1.0

In [43]:
# As Final transformation, we'll split our data set in Train and Test

## Step 3. Transform Data to Quantum Data (in Quantum Circuit)

In [44]:
# To transform the data to our Quantum Circuit we'll adapt the function used in the MNIST example
def convert_to_circuit(member):
    """Encode truncated classical member info into quantum datapoint."""
    qubits = cirq.GridQubit.rect(1, 4)
    circuit = cirq.Circuit()
    for i, value in enumerate(member):
        if value:
            circuit.append(cirq.X(qubits[i]))
    return circuit


#iris_train_circ = [convert_to_circuit(x) for x in iris_scaled_train]
#iris_test_circ = [convert_to_circuit(x) for x in iris_scaled_test]